@import '@pathofdev/react-tag-input/build/index.css';

.react-tag-input {
  min-height: 57px;
  padding: 4px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
}

.react-tag-input:hover {
  border-color: black;
}

/* Inner input */
.react-tag-input__input {
  font-size: 16px;
}

.react-tag-input__input::placeholder {
  color: #666;
}

/* Tag wrapper */
.react-tag-input__tag {
  background-color: #eee;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
}

/* The text content within the tag */
.react-tag-input__tag__content {
  font-size: 15px;
  font-weight: 400;
}

/* The remove button & icon for a tag */
.react-tag-input__tag__remove {
  background-color: unset;
}

/*************************/

.tagInput {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 57px;
  padding: 8px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
}
.tagInput:hover {
  border-color: black;
}

.tagInput .tagInput__input {
  flex: 1;
  padding: 4px;
  font-size: 16px;
  border: none;
  outline: none;
}
.tagInput .tagInput__input::placeholder {
  color: #666;
}

.tagInput .tagInput__item {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 8px 8px 0;
}

.tagInput .tagInput__remove {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-left: 8px;
}
